<div id="main-container">
  <img id="logo-esilv" src="./assets/images/logo_esilv.png" alt="Logo ESILV">
  <div id="l-panel">
    <div>
      <div class="upload-area">
        <h2>Upload your audio file:</h2>
        <div class="container" appDnd (fileDropped)="onFileDropped($event)">
          <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)"/>
          <img class="upload-img" src="assets/images/dnd/ic-upload-file.svg" alt="">
          <h3>Drag and drop file here</h3>
          <h3>or</h3>
          <label for="fileDropRef">Browse for file</label>
        </div>
      </div>

      <div class="files-list">
        <div class="single-file" *ngFor="let file of files; let i = index">
          <div class="file-info">
            <img class="music" src="assets/images/dnd/music-file.svg" alt="file">
            <div class="info">
              <h4 class="name">
                {{ file?.name }}
              </h4>
              <p class="size">
                {{ formatBytes(file?.size) }}
              </p>
              <app-progress [progress]="file?.progress"></app-progress>
            </div>
            <img src="assets/images/dnd/ic-delete-file.svg" class="delete" width="20px" alt="file"
                 (click)="deleteFile(i)">
          </div>
          <div class="recognition-module" *ngIf="file?.progress == 100">
            <button class="btn-model" (click)="soundRecognition(i)">Run model</button>
            <span class="prediction" *ngIf="file?.prediction">
              Prediction:
              <span *ngIf="file?.predictedObject">{{file.predictedObject}}</span>
              <span *ngIf="file?.predictedRate"> ({{file.predictedRate}} %) </span>
              <span *ngIf="file?.imageUrl">
                <img [src]="file.imageUrl" style="max-width: 50px; max-height: 50px" [alt]="'No image found'"/>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="r-panel">
    <div>
      <h1>Bruit Paris</h1>
    </div>
    <div>
      <p>This is a machine learning service dedicated to recognize sounds and tell you what it is based on an audio
        file.</p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
